@import @vi.son/rouge/1-settings/_colors.sass
@import @vi.son/rouge/1-settings/_breakpoints.sass
@import @vi.son/rouge/2-tools/_media-queries.sass

#logo-canvas-wrapper
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  background: var(--color-ultradark)
  opacity: 0
  animation: fadeIn 2s 1s ease
  animation-fill-mode: forwards

.ui
  position: fixed
  top: 20px
  left: 20px
  z-index: 999
  width: auto
  display: grid
  grid-template-columns: 1fr
  grid-gap: 5px
  +until($tablets)
    grid-template-columns: repeat(3, 1fr)

.dg
  &.ac
    z-index: 9999 !important
  &.main
    input
      font-size: 1.0rem

.layout-main
  .btn-open-narrative
    position: fixed
    bottom: 60px
    left: calc(100vw - 200px)
    +until($desktops)
      top: 0px
      left: calc(100vw - 60px - 30px)
